body {
  font-family: "Poppins", sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/img/maltese-sea.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}
header h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  margin: 30px auto;
}

header h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0;
}

header a {
  background-color: #216d66;
  border-radius: 6px;
  color: white;
  margin-top: 60px;
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  transition: 200ms all ease-in;
}

header a:visited {
  color: white;
}
header a:hover {
  background-color: #081a23;
  transform: scale(1.1);
  transform-origin: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/img/maltese-sea-top.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 50px;
}

footer a,
a:hover,
a:visited {
  color: white;
}

footer a {
  transition: 150ms all ease-in-out;
}

footer a:hover {
  text-decoration-color: #216d66;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}
@media (max-width: 960px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 45px;
    margin: 15px auto;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 15px;
  }

  header a {
    margin-top: 30px;
    padding: 8px 16px;
  }
}
